.table__buttonContainer {
  margin: 5px auto;
  padding: 5px;
  display: flex;
  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid transparent;
  border-radius: 20px;
  justify-content: center;
  max-width: 1370px;
}
