$white: white;
$purple: rgb(117, 0, 92);
$grey: rgb(126, 125, 125);

.pagination {
  display: flex;
  margin-left: 2%;
  &__button {
    list-style-type: none;
    padding: 7px;
    border: 1.5px solid $grey;
    border-radius: 20px;
    height: 20px;
    margin-left: 1%;
    transition: all 0.5s linear;
  }
  &__link {
    text-decoration: none;
    padding: 5px;
    background-color: transparent;
    border-radius: 100px;
  }
  &__link:active {
    color: $white;
  }
}
.currentPage {
  background-color: $purple;
  transform: translateY(-3px);
  color: $white;
}

@media (max-width: 800px) {
  .pagination {
    margin-left: 4%;
    margin-top: 1%;
    &__button {
      padding: 1px;
      border-radius: 20px;
      height: 20px;
      margin-left: 1px;
    }
  }
}

@media (max-width: 350px) {
  .pagination__button {
    margin-top: 1%;
    margin-left: 1%;
  }
  .pagination__link {
    padding: 4px;
  }
}
